<div class="container">
  <div>
    <h2>zidHaba:</h2>
  </div>
  <form>
    <div hidden class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Produit</label>
      <input type="text" [(ngModel)]="newProduit.id" name="idProduit" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Produit</label>
      <input type="text" [(ngModel)]="newProduit.nom" name="nomProduit" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Prix Produit</label>
      <input type="number" [(ngModel)]="newProduit.prix" name="prixProduit" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date création</label>
      <input type="date" [(ngModel)]="newProduit.dateCreation" name="dateCreation" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">

      <label>Category</label>
      <select class="form-control form-control-lg" id="IDcat" name="IDcat" [(ngModel)]="newIdCat">
        <option *ngFor="let cat of categories" [value]="cat.nomCat">
          {{ cat.nomCat }}
        </option>
      </select>

    </div>
    <div class="mt-2">
      <button type="submit" (click)="zidHaba()" class="btn btn-success">Ajouter</button>
      <div>
        <h1> {{MSG}}</h1>

      </div>
    </div>
  </form>
</div>


<div class="container">
<div>
  <h1>Zid Catkota</h1>
</div>
  <form>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Caty</label>
      <input type="text" [(ngModel)]="NewCat.nomCat" name="nomCat" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Desriptihali</label>
      <input type="text" [(ngModel)]="NewCat.descripCat" name="descripCat" class="form-control">
    </div>

    <div class="mt-2">
      <button type="submit" (click)="zidCato()" class="btn btn-success">Ajouter Catcouta</button>
      <div>

      </div>
    </div>
  </form>

</div>
